

<swiper
      [slidesPerView]="3"
      [spaceBetween]="20"
      [navigation]="true"
      [pagination]="{ clickable: true }"

    >
      <ng-template swiperSlide class="animation">
        <img style="height: 400px;" src="assets/images/home_placeholder-bestseller-jacket.jpg">
      </ng-template>
      <ng-template swiperSlide class="animation">
        <img style="height: 400px;" src="assets/images/home_placeholder-bestseller-pants.PNG">
      </ng-template>
      <ng-template swiperSlide class="animation">
        <img style="height: 400px;" src="assets/images/home_placeholder-bestseller-skirt.jpg">
      </ng-template>
      <ng-template swiperSlide class="animation">
        <img style="height: 400px;" src="assets/images/home_placeholder-bestseller-tshirt.jpg">
      </ng-template>
      <!-- <ng-template swiperSlide>Slide 5</ng-template>
      <ng-template swiperSlide>Slide 6</ng-template> -->
    </swiper>