@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.swiper{
    width: 80%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animation{
    transition: 1s ease;
}

.animation :hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    cursor: pointer;
}

.animation :not(:hover){
    transition: 1s ease;
}

.swiper-button-prev, .swiper-button-next{
    color: white;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    opacity: 50%;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active{
    width: 20px;
    height: 20px;
}

.swiper-pagination-bullet-active{
    background-color: white;
}